<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597338278659-sum3h3ok4p1skrevg24v68jvi9gmua64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597338278659-sum3h3ok4p1skrevg24v68jvi9gmua64</string>
	<key>API_KEY</key>
	<string>AIzaSyDBoM8G5t13n23jiPYsE-de_Zft0-v3I8E</string>
	<key>GCM_SENDER_ID</key>
	<string>597338278659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unclean.AuthLoginDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-login-2c7b9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-login-2c7b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597338278659:ios:d3af470e6a98ad2dd1b736</string>
</dict>
</plist>